#toggle-layers {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 50px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    border: 2px solid rgb(177, 173, 170, 0.7);
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

#toggle-news {
  position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    border: 2px solid rgb(177, 173, 170, 0.7);
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}